<!DOCTYPE html>
<html>
<head>
	<title>BanDroid</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />

	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="/socket.io.js"></script>
	<style>

	</style>

</head>
<body>
<div class ="d-flex flex-row justify-content-center" id = "banner">
	<div>
		<img src="./data/circle_ver.png" alt="BanDroid" id ="logo_img" class="img-responsive">
		 <h2 class="page-header">Bandroid Dashboard</h2>
	</div>
</div>
	<div class = "container-fluid">
		<nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-md">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav nav nav-pills">
		      <li class="nav-item active">
		        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
		      </li>
		       <li class="nav-item active">
		        <a class="nav-link" href="/dashboard">My Account</a>
		      </li>
		    </ul>
		    <ul class="navbar-nav nav-pills justify-content-end">
            {{#if user}}
              <li id ="bandroid_navbar"><a href="/users/logout">Logout</a></li>
            {{else}}
              <a class="nav-link" href="/users/login">Login</a>
              <a class="nav-link" href="/users/register">Sign Up</a>
            {{/if}}
		    </ul>
		    
		  </div>
		</nav>
	</div>
	<!-- End of new additions -->
	<div class= container-fluid id = "background">
		<div class="container">

			<div class = "container-fluid">
				<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-12">

							<h4 id="artist_near"><b>User Information</b></h4>

							<ul class="list-group" >
								  <a href="#" id="info_name" class="list-group-item list-group-item-action active">USER_NAME</a>
								  <a href="#" id="info_username" class="list-group-item list-group-item-action active">USER_ID</a>
								  <a href="#" id="info_email" class="list-group-item list-group-item-action active">USER_EMAIL</a>
							</ul>
						</div>
					</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt-3">

						<h4 id="artist_near"><b>Favorite Artists</b></h4>

						<ul id="favArtists" class="list-group" >

							<div id="artistContainer">
							  <a href="#" id="name" class="list-group-item list-group-item-action active">Artist1</a>
								<a href="#" id="nedit" onclick="element_edit('#'+'name')">Edit</a>
								<a href="#" id="ndelete" onclick="element_delete('#'+'artistContainer')">Delete</a>
								{{!-- <button id="nedit">Edit</button> <button id="ndelete">Delete</button> --}}
							</div>		

						</ul>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt-3">
						<h4 id="artist_near"><b>Marked Events</b></h4>
						<ul class="list-group" >

							<div id="eventContainer">
							  <a href="#" id="event" class="list-group-item list-group-item-action active">Event1</a>
								<a href="#" id="eedit" onclick="element_edit('#'+'event')">Edit</a>
								<a href="#" id="edelete" onclick="element_delete('#'+'eventContainer')">Delete</a>
								{{!-- <button id="eedit">Edit</button> <button id="edelete">Delete</button> --}}
							</div>

						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
	<script type="text/javascript">
		var currentUser = {{{username}}};
		$(function () {
			$("#info_name")[0].innerText = "Name: " + currentUser.name;
			$("#info_username")[0].innerText = "Username: " + currentUser.username;
			$("#info_email")[0].innerText = "Email: " + currentUser.email;
		})

		function element_edit(listElementID) { //pass parameter as '#'+'id' For example: '#'+'eventContainer'
			newName = prompt("Type a new name");
			if (newName != null && newName != "") {
				console.log("#"+listElementID)
				$(listElementID)[0].innerText = newName;
			}
		}

		function element_delete(listElementID) { //pass parameter as '#'+'id' For example: '#'+'eventContainer'
			newName = prompt("Are you sure? (y/n)");
			if (newName == "y") {
				$(listElementID)[0].remove();
			}
		}


		function populateFavArtist(favArtist_list){
		    var vertical_menu = document.getElementById('favArtists')
		    $(vertical_menu).empty(); //reset list item from the list to prevent list items to keep appending
		    $("#favArtists").append('<a href="#" class="list-group-item list-group-item-action active">Getting Artists...</a>"');
		    $(vertical_menu).empty(); //reset list item from the list to prevent list items to keep appending
		    for (var x =0; x<favArtist_list.length;x++){
		      $("#favArtists").append("<a href = #artistData class='list-group-item list-group-item-action' id = #" + x + ">"+favArtist_list[x][0]+"</a>");
		        // console.log(templist[x][0]);
		    }

		    displayArtist(favArtist_list);
		}
	</script>
</body>
</html>