<!DOCTYPE html>
<html>
<head>
	<title>BanDroid</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />

	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
<div class ="d-flex flex-row justify-content-center" id = "banner">
	<div>
		<img src="./data/circle_ver.png" alt="BanDroid" id ="logo_img" class="img-responsive">
		 <h2 class="page-header">Bandroid Dashboard</h2>
	</div>
</div>
	<div class = "container-fluid">
		<nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-md">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav nav nav-pills">
		      <li class="nav-item active">
		        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
		      </li>
		       <li class="nav-item active">
		        <a class="nav-link" href="/dashboard">My Account</a>
		      </li>
		    </ul>
		    <ul class="navbar-nav nav-pills justify-content-end">
            {{#if user}}
              <li id ="bandroid_navbar"><a href="/users/logout">Logout</a></li>
            {{else}}
              <a class="nav-link" href="/users/login">Login</a>
              <a class="nav-link" href="/users/register">Sign Up</a>
            {{/if}}
		    </ul>
		    
		  </div>
		</nav>
	</div>
	<!-- End of new additions -->
	<div class= container-fluid id = "background">
		<div class="container">

			<div class = "container-fluid">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt-3">

						<h4 id="artist_near"><b>Favorite Artists</b></h4>

						<ul class="list-group" >
							  <a href="#" id="name1" class="list-group-item list-group-item-action active">Artist1</a>
								<a href="#" id="edit1" onclick="edit1()">Edit</a>
								<a href="#" id="delete1" onclick="delete1()">Delete</a>
								{{!-- <button id="edit1">Edit</button> <button id="delete1">Delete</button> --}}
							  <a href="#" id="name2" class="list-group-item list-group-item-action active">Artist2</a>
								<a href="#" id="edit2" onclick="edit2()">Edit</a>
								<a href="#" id="delete2" onclick="delete2()">Delete</a>
							  <a href="#" id="name3" class="list-group-item list-group-item-action active">Artist3</a>
								<a href="#" id="edit3" onclick="edit3()">Edit</a>
								<a href="#" id="delete3" onclick="delete3()">Delete</a>
						</ul>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt-3">
						<h4 id="artist_near"><b>Marked Events</b></h4>
						<ul class="list-group" >
							  <a href="#" id="event1" class="list-group-item list-group-item-action active">Event1</a>
								<a href="#" id="edit4" onclick="edit4()">Edit</a>
								<a href="#" id="delete4" onclick="delete4()">Delete</a>
								{{!-- <button id="edit1">Edit</button> <button id="delete1">Delete</button> --}}
							  <a href="#" id="event2" class="list-group-item list-group-item-action active">Event2</a>
								<a href="#" id="edit5" onclick="edit5()">Edit</a>
								<a href="#" id="delete5" onclick="delete5()">Delete</a>
							  <a href="#" id="event3" class="list-group-item list-group-item-action active">Event3</a>
								<a href="#" id="edit6" onclick="edit6()">Edit</a>
								<a href="#" id="delete6" onclick="delete6()">Delete</a>
						</ul>
					</div>
				</div>
			<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt-3">

						<h4 id="artist_near"><b>User Information</b></h4>

						<ul class="list-group" >
							  <a href="#" id="name" class="list-group-item list-group-item-action active">Artist1</a>
							  <a href="#" id="username" class="list-group-item list-group-item-action active">Artist2</a>
							  <a href="#" id="email" class="list-group-item list-group-item-action active">Artist3</a>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var currentUser = {{{username}}};
		console.log(currentUser);

		// user_info contains all the info we need
		// defined in users.js:91
		// user_info.name
		// user_info.email
		// user_info.username
		//var email = "ello";
		//$("#hello1")[0].innerText = email;

		//
		$(function () {
			$("#name")[0].innerText = "Name: " + currentUser.name;
			$("#username")[0].innerText = "Username: " + currentUser.username;
			$("#email")[0].innerText = "Email: " + currentUser.email;
		})

		function edit1() {
			newName = prompt("Type a new name");
			if (newName != null && newName != "") {
				// TODO: Uncomment this once user_info can be accessed and comment below
				currentUser.name = newName;
				$("#name1")[0].innerText = currentUser.name;
				//$("#name")[0].innerText = newName;
			}
		}

		function delete1() {
			newName = prompt("Are you sure? (yes/no)");
			if (newName == "yes") {
				$("#name1")[0].remove();
				//$("#name")[0].remove();
				//$("#name")[0].remove();
				$("#edit1")[0].remove();
				$("#delete1")[0].remove();
			}
		}

		function edit2() {
			newUser = prompt("Type a new username");
			if (newUser != null && newUser != "") {
				// TODO: Uncomment this once user_info can be accessed and comment below
				// user_info.username = newUser;
				// $("#username")[0].innerText = user_info.username;
				currentUser.username = newUser;
				$("#name2")[0].innerText = currentUser.username;
				//$("#username")[0].innerText = newUser;
			}
		}

		function delete2() {
			newUser = prompt("Are you sure? (yes/no)");
			if (newUser == "yes") {
				$("#name2")[0].remove();
				//$("#username")[0].remove();
				//$("#username")[0].remove();
				$("#edit2")[0].remove();
				$("#delete2")[0].remove();
			}
		}

		function edit3() {
			newEmail = prompt("Type a new email");
			if (newEmail != null && newEmail != "") {
				// TODO: Uncomment this once user_info can be accessed and comment below
				// user_info.email = newEmail;
				// $("#email")[0].innerText = user_info.email;
				currentUser.email = newEmail;
				$("#name3")[0].innerText = currentUser.email;
				//$("#email")[0].innerText = newEmail;
			}
		}

		function delete3() {
			newEmail = prompt("Are you sure? (yes/no)");
			if (newEmail == "yes") {
				$("#name3")[0].remove();
				//$("#email")[0].remove();
				//$("#email")[0].remove();
				$("#edit3")[0].remove();
				$("#delete3")[0].remove();
			}
		}


		// Events
		function edit4() {
			newName = prompt("Type a new name");
			if (newName != null && newName != "") {
				// TODO: Uncomment this once user_info can be accessed and comment below
				currentUser.name = newName;
				$("#event1")[0].innerText = currentUser.name;
				//$("#name")[0].innerText = newName;
			}
		}

		function delete4() {
			newName = prompt("Are you sure? (yes/no)");
			if (newName == "yes") {
				$("#event1")[0].remove();
				//$("#name")[0].remove();
				//$("#name")[0].remove();
				$("#edit4")[0].remove();
				$("#delete4")[0].remove();
			}
		}

		function edit5() {
			newUser = prompt("Type a new username");
			if (newUser != null && newUser != "") {
				// TODO: Uncomment this once user_info can be accessed and comment below
				// user_info.username = newUser;
				// $("#username")[0].innerText = user_info.username;
				currentUser.username = newUser;
				$("#event2")[0].innerText = currentUser.username;
				//$("#username")[0].innerText = newUser;
			}
		}

		function delete5() {
			newUser = prompt("Are you sure? (yes/no)");
			if (newUser == "yes") {
				$("#event2")[0].remove();
				//$("#username")[0].remove();
				//$("#username")[0].remove();
				$("#edit5")[0].remove();
				$("#delete5")[0].remove();
			}
		}

		function edit6() {
			newEmail = prompt("Type a new email");
			if (newEmail != null && newEmail != "") {
				// TODO: Uncomment this once user_info can be accessed and comment below
				// user_info.email = newEmail;
				// $("#email")[0].innerText = user_info.email;
				currentUser.email = newEmail;
				$("#event3")[0].innerText = currentUser.email;
				//$("#email")[0].innerText = newEmail;
			}
		}

		function delete6() {
			newEmail = prompt("Are you sure? (yes/no)");
			if (newEmail == "yes") {
				$("#event3")[0].remove();
				//$("#email")[0].remove();
				//$("#email")[0].remove();
				$("#edit6")[0].remove();
				$("#delete6")[0].remove();
			}
		}
	</script>
</body>
</html>